//$main: #D00
$main: #333
$base: #f9d0cc
//$base: #d9c0ac
$bg:  darken(saturate($base, 20%), 5%)
$bg2: $base + #1A1A1A
$fg: rgba(255, 255, 255, 1)// #FFF
$fg2: rgba(255, 255, 255, 0.9)// #FFF
$fg3: rgba(210, 210, 210, 0.7)// #FFF
$fg4: rgba(180, 180, 180, 0.8)// #FFF
$text: #333
$fonts_default: Aller, Verdana, Arial
$fonts_titles: Bebas
$fonts_navs: Dubiel

@font-face
  font-family: Aller
  src: url(/fonts/aller.ttf)

@font-face
  font-family: Bebas
  src: url(/fonts/bebas_neue.otf)

@font-face
  font-family: Dubiel
  src: url(/fonts/dubiel.ttf)

@import "libs"

a
  text-decoration: none

ul
  list-style-type: none

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: $base
  // background: url(/images/d3c.png) no-repeat $bg
  //+gradient($bg2, $bg)
  background-size: 100%
  font-family: $fonts_default
  color: $text

a
  color: $main
a:hover
  color: $main + #211
a.btn, nav.main a
  +button
  //background: $main
  &:hover
    //+emboss_hover
    background: #fff
    color: $main

h1, h2, h3, h4, h5, h6
  font-family: $fonts_navs
  font-weight: normal

nav.main
  font-family: $fonts_titles
  font-size: 1.3em

h1, nav.main
  margin: 0 0 15px

.content h1
  font-size: 1.9em
  color: $main

header
  h1
    font-size: 3.8em
    img
      width: 30%
      max-width: 300px
  input[type='submit']
    margin: 0


.clear
  clear: both

.right
  float: right
  form, .user_name
    float: right
  .user_name
    margin: 4px 12px 0 0
  input
    margin: 0

#container
  width: 92%
  margin: 20px auto
  max-width: 1200px

.content ul li
  margin: 0 0 5px 0

img.inpage
  float: left
  width: 34%
  margin: 3px 1.5% 3px 0
  &:first-child
    margin: 0 0 3px 1.5%
  &.right
    float: right
    margin: 3px 0 3px 1.5%

.content h1
  margin: 30px 0 10px 0
  &.first
    margin: 0 0 10px 0


.features
  clear: both
  ul
    list-style-type: disc
    float: left
    padding: 0 0 10px 20px
    width: 43%
    font-size: 1.2em

  p
    float: left
    width: 43%


.iscriviti
  text-align: center
  font-size: 2.1em
  margin: 40px auto 0
  a
    padding: 12px 10px 2px

// forms

label
  font-size: 0.85em
  font-weight: bold
  margin: 0 0 4px
  display: block

input, textarea
  font-size: 1.1em
  display: block
  margin: 0 0 15px
  padding: 2px 5px
  width: 30%

textarea
  height: 400px

.submit
  width: 30%
  clear: right

input[type='submit']
  font-size: 1.2em
  width: auto
  float: right
  display: inline-block
  //+button
  font-family: $fonts_default
  &:hover
    //+emboss_hover

.content input[type='submit']
  margin: 10px 0 20px 0





// home

// 4 boxes
$box_width: 23.75%
$box_margin: (100% - $box_width*4) / 3
$box_width3: $box_width*3 + $box_margin*2
$box_width2: $box_width*2 + $box_margin

.home img.full
  width: 100%
  height: 60px
  margin: 0 0 $box_margin 0

.home .gallery_simple
  float: left

.home
  .column_right, .column_left
    float: left
    img
      display: block
      width: 100%
  .column_right
    // webkit
    width: $box_width + $box_margin
    // firefox
    //width: $box_width
    img
      margin: 0 0 $box_margin*4 $box_margin*4
  .column_left
    width: $box_width + $box_margin
    img
      margin: 0 $box_margin*4 $box_margin*4 0

.boxes
  img
    width: $box_width
    float: left
    margin: 0 $box_margin $box_margin 0
    // -webkit-transition-property: transform
    // -webkit-transition-duration: 1s
    // -webkit-transition-timing-function: ease-in-out
    // -webkit-transform: rotateY(0deg) translate3d(0, 0, 0)
    // -moz-transition-property: all
    // -moz-transition-duration: 1s
    // -moz-transition-timing-function: ease-in-out
    // -moz-transform: rotateY(0deg) translate(0, 0)
  img:nth-of-type(4n)
    margin: 0 0 $box_margin 0
  img.flip
    //-webkit-transform: rotateY(90deg)
    //-moz-transform: rotateY(90deg)
  img.slide
    //-webkit-transform: translate3d(107%, 0, 0)
    //-moz-transform: translate(107%, 0)


// gallery

$gal_width: 100%

.gallery, .gallery_one, .gallery_simple, .gallery_two, .gallery_one_left
  width: 100%
  position: relative
  overflow: hidden
  .caption
    width: 100%
    position: absolute
    left: 0
    top: 0
    background: rgba(180,180,180, 0.7)
    z-index: 2
    padding: 2% 5% 0
    font-size: 1.2em
    font-family: $fonts_titles
  img
    position: absolute
    -webkit-transition: all 1.2s ease-in-out, opacity 0.3s ease-in-out
    // -webkit-transition-property: transform
    // -webkit-transition-duration: 1.2s
    // -webkit-transition-timing-function: ease-in-out
  img:hover
    cursor: pointer
    opacity: 0.85


.gallery_one, .gallery_simple, .gallery_two, .gallery_one_left
  img
    width: $gal_width
    opacity: 0
  .pos0
    left: -$gal_width
    opacity: 0
  .pos1
    left: -$gal_width
    opacity: 1
  .pos2
    left: 0
    opacity: 1
  .pos3
    left: $gal_width
    opacity: 0
  .pos4
    left: $gal_width
    opacity: 0

$gal_width_margin: 100% - $box_margin*4

.gallery_one
  margin: 0 0 $box_margin*4 $box_margin*4
  height: 200px
  width: $gal_width_margin
  img
    width: $gal_width_margin
  .pos0
    left: -$gal_width_margin
  .pos1
    left: -$gal_width_margin -$box_margin*8
  .pos2
    left: -$box_margin*4
  .pos3
    left: $gal_width_margin
  .pos4
    left: $gal_width_margin

.gallery_one_left
  height: 400px
  width: $gal_width_margin
  margin: 0
  img
    margin: 0



.boxes
  .gallery_two
    margin: 0 $box_margin $box_margin 0
    height: 160px
    float: left
    width: $box_width
    img
      width: 100%
  .gallery_two:nth-of-type(4n)
    margin: 0 0 $box_margin 0
  .gallery_two.rightmost
    margin-right: 0

.gallery_simple
  height: 621px
  margin: 0 0 $box_margin 0
  width: $box_width3


.gallery
  height: 621px
  margin: 0 0 30px
  img
    width: 33%
  .pos0
    left: 0
    opacity: 0
    left: -33%
  .pos1
    left: 0
    opacity: 1
  .pos2
    left: 33.3%
  .pos3
    left: 66.6%
    opacity: 1
  .pos4
    left: 99.9%
    opacity: 0
  .pos5
    left: 99.9%
    opacity: 0

// users

.user
  margin: 0 0 10px 0
  +box

.users .user
  cursor: pointer
  &:hover
    +box_hover

.users
  .user
    a
      font-weight: bold
      display: inline-block
    .name
      display: inline-block
      margin: 0 0 0 0.7%
    .role
      float: right
    .avatar
      width: 40px
      +radius(5px)
      margin: 6px 0 0 0

.user
  h2
    margin: 20px 0 10px 0
  .title a
    font-weight: bold
  .avatar
    margin: 3px 1.3% 0 0
    width: 128px
    +radius(8px)
  .info
    margin: 10px 0 0
  .signature
    margin: 10px 0 0
  .avatar
    float: left