%h1 Foto Tagli

%nav.category.foto_tagli
  .box
    %a{ href: "/foto_tagli/donna"}
      %img{ src: "/img/categories/foto_tagli/donna.jpg" }
      Donna

  .box
    %a{ href: "/foto_tagli/uomo"}
      %img{ src: "/img/categories/foto_tagli/uomo.jpg" }
      Uomo

  .box
    %a{ href: "/foto_tagli/sposa"}
      %img{ src: "/img/categories/foto_tagli/sposa.jpg" }
      Sposa

  .box
    %a{ href: "/foto_tagli/bambino"}
      %img{ src: "/img/categories/foto_tagli/bambino.jpg" }
      Bambino

  .clear