%h1 Foto Tagli

%nav
  - link_to "Donna",    "/foto_tagli/donna"  , class: "btn"
  - link_to "Uomo",     "/foto_tagli/uomo"   , class: "btn"
  - link_to "Bambino",  "/foto_tagli/bambino", class: "btn"
  - link_to "Sposa",    "/foto_tagli/sposa"  , class: "btn"