%h1
  Foto:
  %span= @type.capitalize


.photo_gallery
  - @photos.shuffle!
  - size = @photos.size
  - size = 4
  - @photos[0..size].each_with_index do |photo, idx|
    - val = idx - size
    %div{ class: "pos#{size-idx}" }
      %img{ src: photo.path }