%h1 Foto

%nav
  - link_to "Donna",    "/foto/donna"  , class: "btn"
  - link_to "Uomo",     "/foto/uomo"   , class: "btn"
  - link_to "Bambino",  "/foto/bambino", class: "btn"
  - link_to "Sposa",    "/foto/sposa"  , class: "btn"