%h1 Foto Tagli

%nav.category.foto_tagli
  .box
    %a{ href: "/foto_tagli/donna"}
      %img{ src: "/img/categories/foto_tagli/donna.jpg" }
      Donna
      
    .authors
      = partial :foto_authors, "donna"

  .box
    %a{ href: "/foto_tagli/uomo"}
      %img{ src: "/img/categories/foto_tagli/uomo.jpg" }
      Uomo
      
    .authors
      = partial :foto_authors, "uomo"

  .box
    %a{ href: "/foto_tagli/sposa"}
      %img{ src: "/img/categories/foto_tagli/sposa.jpg" }
      Sposa
      
    .authors
      = partial :foto_authors, "sposa"

  .box
    %a{ href: "/foto_tagli/bambino"}
      %img{ src: "/img/categories/foto_tagli/bambino.jpg" }
      Bambino
      
    .authors
      = partial :foto_authors, "bambino"

  .clear