%h1 Foto Tagli

%nav.foto_tagli
  .box
    %a{ href: "/foto_tagli/donna"}
      %img{ src: "http://localhost:3000/img/home/1x2/1.jpg" }
      Donna
      
  .box
    %a{ href: "/foto_tagli/uomo"}
      %img{ src: "http://localhost:3000/img/home/1x2/1.jpg" }   
      Uomo
      
  .box
    %a{ href: "/foto_tagli/sposa"}
      %img{ src: "http://localhost:3000/img/home/1x2/1.jpg" } 
      Sposa
      
  .box
    %a{ href: "/foto_tagli/bambino"}
      %img{ src: "http://localhost:3000/img/home/1x2/1.jpg" }   
      Bambino
    
  .clear