

.gallery_simple
  - gallery_from "home/3x2"

.column_right
  .gallery_one.reverse_slide
    .caption Archivio
    - gallery_from "home/1x2"


.clear

.boxes
  .column_left
    .gallery_one_left
      %a{ href: "/foto_tagli/donna" }
        .caption Foto Donna
        - gallery_from "home/1x2"
  .gallery_two.reverse_slide
    %a{ href: "/foto_tagli/uomo" }
      .caption Foto Uomo
      - gallery_from "home/1x1_uomo"
  .gallery_two.slide_down
    %a{ href: "/foto_tagli/bambino" }
      .caption Foto Bambini
      - gallery_from "home/1x1_bambini"
  .gallery_two.rightmost
    %a{ href: "/step_by_step" }
      .caption Step by step
      - gallery_from "home/1x1_step"
  .gallery_two.slide_up
    %a{ href: "/foto_tagli/sposa" }
      .caption Foto Sposa
      - gallery_from "home/1x1_sposa"
  .gallery_two.two.rightmost.reverse_slide
    .caption Mondo
    - gallery_from "home/2x1_mondo"
  .clear

.boxes
  .column_left
    .gallery_one_left.static
      .caption Accademie
      %img{ src: "/img/home/fixed/accademie.png" }
  .column_right
    .gallery_one.static
      .caption Fiere
      %img{ src: "/img/home/fixed/fiere.png" }
  .gallery_two.two.rightmost.static
    .caption Forum
    %img{ src: "/img/home/fixed/forum.png" }
  .gallery_two.two.rightmost.static
    .caption Shop
    %img{ src: "/img/home/fixed/shop.png" }
  .clear