

.gallery_simple
  - photos_from("home/3x2").each_with_index do |photo, idx|
    %img{ class: "pos#{idx}", src: "/img/home/3x2/#{photo}" }

.column_right
  %img{ src: "/img/home/2.png" }
  %img{ src: "/img/home/3.png" }

.clear

.boxes
  %img{ src: "/img/home/1.png" }
  %img{ src: "/img/home/2.png" }
  %img{ src: "/img/home/3.png" }
  %img{ src: "/img/home/1.png" }
  .clear
  %img{ src: "/img/home/2.png" }
  %img{ src: "/img/home/3.png" }
  %img{ src: "/img/home/1.png" }
  %img{ src: "/img/home/2.png" }
  .clear
  %img{ src: "/img/home/3.png" }
  %img{ src: "/img/home/2.png" }
  %img{ src: "/img/home/1.png" }
  %img{ src: "/img/home/3.png" }
  .clear
%img.full{ src: "/img/home/3x2/1.png" }
.boxes
  %img{ src: "/img/home/3.png" }
  %img{ src: "/img/home/2.png" }
  %img{ src: "/img/home/1.png" }
  %img{ src: "/img/home/3.png" }