

.gallery_simple
  - gallery_from "home/3x2"

.column_right
  .gallery_one
    .caption Archivio
    - gallery_from "home/1x2"


.clear

.boxes
  .column_left
    .gallery_one_left
      .caption Donna
      - gallery_from "home/1x2"
  .gallery_two.reverse_slide
    .caption Uomo
    - gallery_from "home/1x1_uomo"
  .gallery_two.slide_down
    .caption Bambini
    - gallery_from "home/1x1"
  .gallery_two.rightmost
    .caption Step by step
    - gallery_from "home/1x1_step"
  .gallery_two.slide_up
    .caption Sposa
    - gallery_from "home/1x1_sposa"
  .gallery_two.two.rightmost
    .caption ???
    - gallery_from "home/2x1"
  .clear

.boxes
  .gallery_two.two
    .caption ???
    - gallery_from "home/2x1"

  .gallery_two.rightmost
    .caption ???
    - gallery_from "home/1x1"
  .column_right
    .gallery_one
      .caption ???
      - gallery_from "home/1x2"
  .gallery_two
    .caption ???
    - gallery_from "home/1x1"
  .gallery_two
    .caption ???
    - gallery_from "home/1x1"
  .gallery_two.rightmost
    .caption ???
    - gallery_from "home/1x1"
  .clear