%html
  %head
    %title Shampy
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body{ class: body_class }
    #container
      %nav.right
        - if logged_in?
          %form{ action: "/logout", method: "post" }
            %input{ type: "submit", value: "Logout" }
          .user_name
            %a.btn{ href: "/users/#{current_user.id}" }= current_user.username
        - else
          %a.btn{ href: "/login" } Login
          o
          %a.btn{ href: "/register" } Registrati
      %header
        %h1
          %a{ href: "/"}
            %img{ src: "/img/shampy_logo.png", alt: "Shampy" }
          /
            - link_to "Shampy", "/"
      %nav.main
        - if admin? || !member?
          - link_to "Chi Siamo",  "/chi_siamo"
          - link_to "Offerta",    "/offerta"
          - link_to "Lezioni",    "/lezioni"
          -# categorie: uomo, donna, bambino, sposa
          - link_to "Foto",       "/foto"
          - link_to "Tagli",      "/tagli"
        - if member?
          -# sottocategorie: stilisti (Sesler, Anthony Jhon)
          - link_to "Norme",      "/norme"
          - link_to "Modelli",    "/modelli"
          - link_to "Prodotti",   "/prodotti"
        - if admin?
          - link_to "Utenti",     "/users"

      %section.content= yield

      .clear
      %footer
        © #{Time.now.year} Shampy

      %script{ type: "text/javascript", src: "/js/vendor/jquery.js" }
      %script{ type: "text/javascript", src: "/js/app.js" }