%h1 Lezioni

%p  Il Capello e il Cuoio Capelluto
Generalità

In generale i capelli sono collocati nel cuoio capelluto per gruppi da 1 a 5 e si trovano in una posizione leggermente obliqua.
Il numero dei capelli varia secondo le razze, il colore, il diametro.
Si calcola in genere 100.000 capelli per una capigliatura bruna. Per la capigliatura bionda questo numero può elevarsi da 130.00 a 150.00.
Inoltre l’ elemento femminile possiede un numero leggermente superiore all’ elemento maschile.

Genesi Del Pelo

Verso la fine del terzo mese di  vita, sulla fronte appaiono i primi abbozzi di pelo. Soltanto a partire dalla 28 settimana della gestazione appaiono i primi autentici CAPELLI .
Si reputa che la velocità di crescita media del capello nell’ individuo normale è di 0,5 mm al giorno.
Per togliere di mezzo certe inesatte credenze, questa velocità di crescenza non si modifica nè per la bruciatura dell’ estremità nè per il taglio del capello.

Morte e Caduta Del Capello

I capelli muoiono e cadono. Non si può ancora determinare la durata in modo categorico; tuttavia la vita media di un capello è da 2 anni a 6 anni, mentre le ciglia hanno una durata media di qualche mese solamente. 
Quando il capello muore, il bulbo vuoto diventa un bulbo pieno; allora non è più assicurata la nutrizione della zona germinativa e certamente le sue cellule non si moltiplicheranno più.
Trascorrono circa 70 a 80 giorni tra la morte del capello e la sua caduta.

Sostituzione del Capello

Se la papilla non è stata distrutta , la caduta del capello non è definitiva. Quando un capello naturalmente , viene rimpiazzato  da un altro; quest’ ultimo è pressochè dello stesso calibro del precedente. Qualche volta più grosso ma in linea generale la seconda crescita è mwno vigorosa sopratutto dell’ uomo . Quando sopraggiunge la vecchiezza i capelli hanno vita sempre più raccorciata e sopravviene pure una modifica nella struttura , diventando questa sempre più fine. ( vedere fig 1)IL Capello

I capelli sono delle parti differenziate dei tessuti epidermici. Si distingue la RADICE - sotto la superficie della pelle - radice costituita da cellule plastiche e il GAMBO al di sopra di questa superficie , formata da cellule molto tirate per un azione di filatura.

La prolificazione di questa cellule viventi alla base della radice provoca una spinta dal basso verso l’ alto, ciò si traduce in una crescita apparente del capello.
Nel GAMBO si distingue la parte esterna che è formata da squame, la regione media - il CORTICE e la parte centrale -il midollo
L’ epiticolo in ece protegge il gambo, è molto robusto resistendo notevolmente agli agenti chimici.

STUDIO DEL GAMBO

1 - Le Squame 

Le squame sono sovrapposte come le tegole di un tetto. Si ricoprono le une sulle altre per circa due terzi della loro superficie. Sono delle cellule completamente degenerate.Non possiedono un nucleo visibile e non racchiudono più l’ acido nucleico.
NON sono BIRIFRANGENTI ( un corpo e birinfrangentequando è suscettibile di produrre una doppia rifrazione, e un corpo e rinfrangente quando fa diviare un raggio luminoso )

2- IL CORTICE

E’ formato da cellule allungate in fasci da 80 a 110 microns di lunghezza.
Sono delle cellule morte che possiedono relativamente spesso un resto di nucleo che non può più colorarsi con le tinture classiche specifiche. 
La cellula e biofrangente e il nucleo è isotropo ( presenta le stesse proprietà in tutte le direzioni) 

3- IL MIDOLLO

I capelli hanno sempre una regine midollare facilmente penetrabile dalle tinture e costituita da aamucchiamenti di cellule morte che sono vuote dalla loro sostanza.
Queste cellule ostentano le forme di figure geometriche  portanti tante volte una forma circolatre.

Dunque riassumendo, noi constatiamo che il capello che è molto lungo al rapporto al suo diametro, è formato da cellule allungate che sono costituite da FIBRILLE e discendono ancora a un gradino inferiore alla scala molecolare, noi ritroveremo molecole allungate


