%h1 Recensioni prodotti

.column_left
  - @products.evens.each do |product|
    = partial :product, product

.column_right
  - @products.odds.each do |product|
    = partial :product, product

.clear

-# Note:
-# 
-# descrizione
-# prezzi
-# voto
-# contatti reseller
-# azienda produttrice con relativi e contatti
-# nota: servira' per gli sponsor che ci pagheranno per pubblicizzare i loro prodotti

