%h1 Prodotti

%h1 Recensioni prodotti

- @products.each do |product|
  %p= product[:name]
  %p= product[:company]
  %img{ src: "/img/products/#{product[:image]}" }
  %p= product[:text]
  %p &nbsp;

%p Note:

%p descrizione
%p prezzi
%p voto
%p contatti reseller
%p azienda produttrice con relativi e contatti
%p nota: servira' per gli sponsor che ci pagheranno per pubblicizzare i loro prodotti

