%h1 Step by Step

%nav
  - link_to "Donna",    "/step_by_step/donna"  , class: "btn"
  - link_to "Uomo",     "/step_by_step/uomo"   , class: "btn"
  - link_to "Bambino",  "/step_by_step/bambino", class: "btn"
  - link_to "Sposa",    "/step_by_step/sposa"  , class: "btn"