%h1 Step by Step

%nav.category.step_by_step
  .box
    %a{ href: "/step_by_step/donna"}
      %img{ src: "/img/categories/step_by_step/donna.jpg" }
      Donna

  .box
    %a{ href: "/step_by_step/uomo"}
      %img{ src: "/img/categories/step_by_step/uomo.jpg" }
      Uomo

  .box
    %a{ href: "/step_by_step/sposa"}
      %img{ src: "/img/categories/step_by_step/sposa.jpg" }
      Sposa

  .box
    %a{ href: "/step_by_step/bambino"}
      %img{ src: "/img/categories/step_by_step/bambino.jpg" }
      Bambino

  .clear