@font-face {
  font-family: Aller;
  src: url(/fonts/aller.ttf); }

@font-face {
  font-family: Bebas;
  src: url(/fonts/bebas_neue.otf); }

@font-face {
  font-family: Dubiel;
  src: url(/fonts/dubiel.ttf); }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f9d0cc;
  background-size: 100%;
  font-family: Aller, Verdana, Arial;
  color: #333333; }

a {
  color: #333333; }

a:hover {
  color: #554444; }

a.btn, nav.main a {
  font-weight: bold;
  font-size: 0.9em;
  padding: 3px 4px 0;
  cursor: pointer; }
  a.btn:hover, nav.main a:hover {
    background: white;
    color: #333333; }

h1, h2, h3, h4, h5, h6 {
  font-family: Dubiel;
  font-weight: normal; }

nav.main {
  font-family: Bebas;
  font-size: 1.3em; }

h1, nav.main {
  margin: 0 0 5px; }

.content h1 {
  font-size: 1.9em;
  color: #333333; }

header h1 {
  font-size: 3.8em; }
  header h1 img {
    width: 30%;
    max-width: 300px; }
header input[type='submit'] {
  margin: 0; }

.clear {
  clear: both; }

.right {
  float: right; }
  .right form, .right .user_name {
    float: right; }
  .right .user_name {
    margin: 4px 12px 0 0; }
  .right input {
    margin: 0; }

#container {
  width: 92%;
  margin: 20px auto;
  max-width: 1200px; }

.content ul li {
  margin: 0 0 5px 0; }

img.inpage {
  float: left;
  width: 34%;
  margin: 3px 1.5% 3px 0; }
  img.inpage:first-child {
    margin: 0 0 3px 1.5%; }
  img.inpage.right {
    float: right;
    margin: 3px 0 3px 1.5%; }

.content h1 {
  margin: 30px 0 10px 0; }
  .content h1.first {
    margin: 0 0 10px 0; }

.features {
  clear: both; }
  .features ul {
    list-style-type: disc;
    float: left;
    padding: 0 0 10px 20px;
    width: 43%;
    font-size: 1.2em; }
  .features p {
    float: left;
    width: 43%; }

.iscriviti {
  text-align: center;
  font-size: 2.1em;
  margin: 40px auto 0; }
  .iscriviti a {
    padding: 12px 10px 2px; }

label {
  font-size: 0.85em;
  font-weight: bold;
  margin: 0 0 4px;
  display: block; }

input, textarea {
  font-size: 1.1em;
  display: block;
  margin: 0 0 15px;
  padding: 2px 5px;
  width: 30%; }

textarea {
  height: 400px; }

.submit {
  width: 30%;
  clear: right; }

input[type='submit'] {
  font-size: 1.2em;
  width: auto;
  float: right;
  display: inline-block;
  font-family: Aller, Verdana, Arial; }

.content input[type='submit'] {
  margin: 10px 0 20px 0; }

.home img.full {
  width: 100%;
  height: 60px;
  margin: 0 0 1.66667% 0; }

.home .gallery_simple {
  float: left; }

.home .column_right, .home .column_left {
  float: left;
  width: 25.41667%; }
  .home .column_right img, .home .column_left img {
    width: 100%; }
.home .column_right {
  float: right; }
  .home .column_right img {
    margin: 0 0 6.66667% 6.66667%; }
.home .column_left img {
  margin: 0 6.66667% 6.66667% 0; }

.boxes img {
  width: 23.75%;
  float: left;
  margin: 0 1.66667% 1.66667% 0; }
.boxes img.rightmost {
  margin: 0 0 1.66667% 0; }

.gallery, .gallery_one, .gallery_simple, .gallery_two, .gallery_one_left {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .gallery .caption, .gallery_one .caption, .gallery_simple .caption, .gallery_two .caption, .gallery_one_left .caption {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(180, 180, 180, 0.7);
    z-index: 3;
    padding: 2% 5% 0;
    font-size: 1.2em;
    font-family: Bebas; }
  .gallery img, .gallery_one img, .gallery_simple img, .gallery_two img, .gallery_one_left img {
    position: absolute;
    -webkit-transition: all 1.2s ease-in-out, opacity 0.3s ease-in-out; }
  .gallery img:hover, .gallery_one img:hover, .gallery_simple img:hover, .gallery_two img:hover, .gallery_one_left img:hover {
    cursor: pointer;
    opacity: 0.85; }

.gallery_one img, .gallery_simple img, .gallery_two img, .gallery_one_left img {
  width: 100%;
  opacity: 0;
  z-index: 2; }
.gallery_one .pos0, .gallery_simple .pos0, .gallery_two .pos0, .gallery_one_left .pos0 {
  left: -100%;
  opacity: 0;
  z-index: 1; }
.gallery_one .pos1, .gallery_simple .pos1, .gallery_two .pos1, .gallery_one_left .pos1 {
  left: -100%;
  opacity: 1; }
.gallery_one .pos2, .gallery_simple .pos2, .gallery_two .pos2, .gallery_one_left .pos2 {
  left: 0;
  opacity: 1; }
.gallery_one .pos3, .gallery_simple .pos3, .gallery_two .pos3, .gallery_one_left .pos3 {
  left: 100%;
  opacity: 0;
  z-index: 2; }
.gallery_one .pos4, .gallery_simple .pos4, .gallery_two .pos4, .gallery_one_left .pos4 {
  left: 100%;
  opacity: 0;
  z-index: 1; }

.gallery_two.reverse_slide .pos0, .gallery_two.reverse_slide .pos1 {
  left: 100%; }
.gallery_two.reverse_slide .pos3, .gallery_two.reverse_slide .pos4 {
  left: -100%; }

.gallery_two.slide_down img {
  left: 0; }
.gallery_two.slide_down .pos0, .gallery_two.slide_down .pos1 {
  top: 100%; }
.gallery_two.slide_down .pos3, .gallery_two.slide_down .pos4 {
  top: -100%; }

.gallery_two.slide_up img {
  left: 0; }
.gallery_two.slide_up .pos0, .gallery_two.slide_up .pos1 {
  top: -100%; }
.gallery_two.slide_up .pos3, .gallery_two.slide_up .pos4 {
  top: 100%; }

.gallery_two.flip img {
  -webkit-transform: rotateY(90deg); }

.gallery_one {
  margin: 0 0 6.66667% 6.66667%;
  height: 200px;
  width: 93.33333%; }
  .gallery_one img {
    width: 93.33333%; }
  .gallery_one .pos0, .gallery_one .pos1 {
    left: -106.66667%; }
  .gallery_one .pos2 {
    left: -6.66667%; }
  .gallery_one .pos3, .gallery_one .pos4 {
    left: 93.33333%; }

.gallery_one_left {
  height: 400px;
  width: 93.33333%;
  margin: 0; }
  .gallery_one_left img {
    margin: 0; }

.boxes .gallery_two {
  margin: 0 1.66667% 1.66667% 0;
  height: 160px;
  float: left;
  width: 23.75%; }
  .boxes .gallery_two img {
    width: 100%; }
.boxes .gallery_two.two {
  height: 320px;
  width: 49.16667%; }
.boxes .rightmost, .boxes .gallery_two.rightmost {
  margin: 0 0 1.66667% 0; }

.gallery_simple {
  height: 621px;
  margin: 0 0 1.66667% 0;
  width: 74.58333%; }

.gallery {
  height: 621px;
  margin: 0 0 30px; }
  .gallery img {
    width: 33%; }
  .gallery .pos0 {
    left: 0;
    opacity: 0;
    left: -33%; }
  .gallery .pos1 {
    left: 0;
    opacity: 1; }
  .gallery .pos2 {
    left: 33.3%; }
  .gallery .pos3 {
    left: 66.6%;
    opacity: 1; }
  .gallery .pos4 {
    left: 99.9%;
    opacity: 0; }
  .gallery .pos5 {
    left: 99.9%;
    opacity: 0; }

.user {
  margin: 0 0 10px 0;
  background: rgba(255, 255, 255, 0.9);
  background: linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(210, 210, 210, 0.7));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(210, 210, 210, 0.7));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(210, 210, 210, 0.7));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(210, 210, 210, 0.7));
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(255, 255, 255, 0.9)), color-stop(0, rgba(210, 210, 210, 0.7)));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(210, 210, 210, 0.7));
  padding: 5px 1.5% 10px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #888888;
  border-left: 1px solid #999999;
  border-right: 1px solid #aaaaaa;
  border-top: 1px solid #cccccc;
  box-shadow: 1px 1px 3px #999999; }

.users .user {
  cursor: pointer; }
  .users .user:hover {
    background: rgba(180, 180, 180, 0.8);
    background: linear-gradient(top, rgba(180, 180, 180, 0.8), rgba(255, 255, 255, 0.9));
    background: -o-linear-gradient(top, rgba(180, 180, 180, 0.8), rgba(255, 255, 255, 0.9));
    background: -moz-linear-gradient(top, rgba(180, 180, 180, 0.8), rgba(255, 255, 255, 0.9));
    background: -webkit-linear-gradient(top, rgba(180, 180, 180, 0.8), rgba(255, 255, 255, 0.9));
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(180, 180, 180, 0.8)), color-stop(0, rgba(255, 255, 255, 0.9)));
    background: -ms-linear-gradient(top, rgba(180, 180, 180, 0.8), rgba(255, 255, 255, 0.9));
    border: 1px solid #cccccc;
    border-top: 1px solid #888888;
    box-shadow: 0px 0px 4px white; }

.users .user a {
  font-weight: bold;
  display: inline-block; }
.users .user .name {
  display: inline-block;
  margin: 0 0 0 0.7%; }
.users .user .role {
  float: right; }
.users .user .avatar {
  width: 40px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 6px 0 0 0; }

.user h2 {
  margin: 20px 0 10px 0; }
.user .title a {
  font-weight: bold; }
.user .avatar {
  margin: 3px 1.3% 0 0;
  width: 128px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
.user .info {
  margin: 10px 0 0; }
.user .signature {
  margin: 10px 0 0; }
.user .avatar {
  float: left; }
