%h1
  Edit: #{@user.username}'s profile
%nav.inpage
  - link_to "back", "/users/#{@user.id}", class: "btn"

- validations_for @user

%form{ action: "/users/#{@user.id}", method: "post" }
  - form_method :put
  -# input @user, :diablo_id

  -# input @user, :avatar
  -# .form_info
  -#   Insert an avatar url or
  -#   - link_to "choose one", "javascript:void(0)", class: "choose_btn"
  -# .avatars
  -#   - Icon.avatars.each do |avatar|
  -#     %img{ src: avatar }


  =# textarea @user, :signature, class: "sign"
  - submit "Save"